.weeknormalList {
    margin: 15px 8px;
}
.weeknormalList .normalListInner {
    margin-bottom: -10px;
}
.weeknormalListInner {
    height: 350px;
    overflow: scroll;
}
.weekdateRande {
    width: 100%;
    transform: scale(0.8);
    white-space: nowrap;
    padding: 0 !important;
    margin: 0;
}
.weeknormalCell {
    position: relative;
    display: inline-block;
    width: 14.2857%;
    padding: 6px 3px;
    border-radius: 2px;
    width: 25%;
    margin-bottom: 10px;
    padding: 8px 0;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}
.weeknormalCell:hover {
    background-color: #f6f6f6;
}
.weeknormalDisabledCell {
    composes: normalCell;
    color: #c4c4c4;
}
.weeknormalActiveCell {
    composes: normalCell;
    color: #fff;
    background-color: #3dd5b0;
}
.weeknormalActiveCell:hover {
    background-color: #3dd5b0;
}

